{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CubeSummation - UBIDOTS</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" href="{% static "CubeSummation/style.css" %}">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<header class="z-depth-1">
		<img src="{% static "CubeSummation/logo.png" %}"/>
	</header>

	<div class="color_bar"></div>

	<main>

	</main>

	<div class="color_bar"></div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5>Cube Summation</h5>
					<p>Resolved by John Daniel Castro.</p>
				</div>

				<div class="col l4 offset-l2 s12">
					<h5>Related Links</h5>
					<ul>
                  		<li><a href="http://hackerrank.com/challenges/cube-summation">Exercise enuntiate</a></li>
                  		<li><a href="http://ubidots.com/home-ubidots.html">Ubidots Page</a></li>
                	</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	<script src="{% static "CubeSummation/script.js" %}"></script>
</body>
</html>