{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CubeSummation - UBIDOTS</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{% static "CubeSummation/style.css" %}">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<header class="z-depth-1">
		<img src="{% static "CubeSummation/logo.png" %}"/>
	</header>

	<div class="color_bar"></div>

	<main>
		<div class="styled container">
			<h5>Instructions!</h5>

			<ol>
				<li>Select the number of test cases and press the button "Go!"</li>
				<li>Complete the fields in each of the test cases, cicling through them with the arrows in the title</li>
				<li>Press the button "Resolve!" and see the results at the right of the page</li>
				<li>Press the button "Reset" if you want to start again</li>
			</ol>

			<div class="row">
				<div class="col s3 offset-s2">
					<p>First, tell us how many test cases you want to do:</p>
				</div>
			
				<div class="input-field col s3 offset-s2">
					<input placeholder="" id="test_cases" type="number" min="1" max="50" class="validate">
          			<label for="test_cases">Test Cases</label>
				</div>
  			</div>

  			<div class="row">
  				<div class="col s2 offset-s3">
  					<a id="go_btn" class="waves-effect waves-light btn blue darken-3">Go!</a>
  				</div>

  				<div class="col s2 offset-s2">
  					<a id="reset_btn" class="waves-effect waves-light btn blue darken-3 modal-trigger disabled" href="#modal_reset">Reset</a>
  				</div>
  			</div>
		</div>

		<div class="container">
			<div id="row_test_cases" class="row"></div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col s2 offset-s1">
					<a id="resolve" class="waves-effect waves-light btn blue darken-3">Resolve!</a>
				</div>
			</div>
		</div>
	</main>

	<div id="modal_reset" class="modal">
		<div class="modal_content">
			<h5>Reset Cube Summation</h5>
			<p>Are you sure you want to reset the application? You will lose all the progress!</p>
		</div>
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">No</a>
			<a id="confirm_reset" class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Yes</a>
		</div>
	</div>

	<div class="color_bar"></div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5>Cube Summation</h5>
					<p>Resolved by John Daniel Castro.</p>
				</div>

				<div class="col l4 offset-l2 s12">
					<h5>Related Links</h5>
					<ul>
                  		<li><a href="http://hackerrank.com/challenges/cube-summation">Exercise enuntiate</a></li>
                  		<li><a href="http://ubidots.com/home-ubidots.html">Ubidots Page</a></li>
                	</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	<script src="{% static "CubeSummation/script.js" %}"></script>
</body>
</html>