header {
	padding: 25px;
}

header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #BDBDBD;
}

footer {
	padding-top: 25px;
}

footer h5 {
	color: #1565C0; 
}

.color_bar {
	padding: 5px;
	background-color: #1565C0;
}