header {
	padding: 25px;
}

header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #BDBDBD;
}

h5 {
	font-weight: bold;
	color: #1565C0;
	text-align: center;
}

main .styled {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px #1565C0 solid;
	background-color: white;
	margin-top: 30px;
	padding: 10px 30px 10px;
}

.btn {
	width: 100%;
}

main .container .styled {
	width: 100%;
	display: none;
}

h5 a i{
	vertical-align: middle;
}

#resolve {
	display: none;
}

footer {
	padding-top: 25px;
}

.color_bar {
	padding: 5px;
	background-color: #1565C0;
}

.toast_error {
	background-color: white;
	color: #D50000;
	border: 2px #D50000 solid;
}